@font-face {
  font-family: "FreightBlack";
  src: url("./Fonts/FreightTextProBlack-Regular.otf");
}

@font-face {
  font-family: "BasisRegular";
  src: url("./Fonts/BasisGrotesqueArabicPro-Regular.ttf");
}

@font-face {
  font-family: "BasisBlack";
  src: url("./Fonts/BasisGrotesqueArabicPro-Black.ttf");
}

@font-face {
  font-family: "BasisBold";
  src: url("./Fonts/BasisGrotesqueArabicPro-Bold.ttf");
}

.freightblack {
  font-family: "FreightBlack";
}

.basisregular {
  font-family: "BasisRegular";
}

.basisblack {
  font-family: "BasisBlack";
}

.basisbold {
  font-family: "BasisBold";
}

.infoCard:hover { 
  transform: scale(1.06); 
}

.infoCard { 
  transition: all .14s ease-in-out; 
}

@font-face {
  font-family: "F1-bold";
  src: url("Fonts/BasisGrotesqueArabicPro-Regular.ttf");
}
@font-face {
  font-family: "F1-light";
  src: url("Fonts/BasisGrotesqueArabicPro-Light.ttf");
}
@font-face {
  font-family: "F2-bold";
  src: url("Fonts/FreightTextProBlack-Regular.otf");
}
@font-face {
  font-family: "F2-light";
  src: url("Fonts/FreightTextProBook-Regular.otf");
}

.F1-bold{
  font-family: "F1-bold";
}
.F1-light{
  font-family: "F1-light";
}

.F2-bold{
  font-family: "F2-bold";
}

.F2-light{
  font-family: "F2-light";
}